
<% include partials/header %>
<div class = "container">
    <h2>This is our project of <strong>Data Structure And Algorithm</strong> </h2>
    <br>
    <h3>Introduction</h3>
    <p>Data structure in Computer Science is simply known as collection of many data values for its proper management.
        <br> Management of data means organizing, processing, retrieving, editing and storing large data values. 
        <br>Data structure helps in improving the performance of device by precisely using memory space and using 
        <br> minimum steps for completing its processes. 

    </p>
    <p>These two projects are</p>
    <ul>
       <a href="/singlyList"> <li>Singly linked list</li></a> 
       <a href="/BTree"><li>B tree</li></a> 
    </ul>

    <div>
        <h5>Objectives</h5>
        <p>
            <ul>
                <li>To get familiar with working of data structures.</li>
                <li>To transform learnt algorithms to a working program.</li>
                <li>To critically think about space and memory complexity of different algorithms learnt.</li>
                <li>To improve coding skills and explore new programming language. </li>
            </ul>
          
                </p>
    </div>
</div>
        
        
</body>
</html>