<% include partials/header %>

<div class ="container">
    <div class="jumbotron">
        <h2><p class="intro">Get Started with the Project</p></h5>
    
        <p>Creators:</p></div>
    
    <div class="row container">
        <div class="col card" id = "imgtag1" style="width:10px">
                <img class="card-img-top" src="PUL074BCT044.png.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Sunil Shrestha</h4>
                    <p class="card-text">Sunil a student in IOE Pulchowk Engineering Campus. He is ongoing his Bachelor in Computer Engineering.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
        </div>
        <div class="col card" style="width:10px"></div>
        <div class="col card" id = "imgtag2" style="width:10px">
                <img class="card-img-top" src="index.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Sugat Singh</h4>
                    <p class="card-text">Sugat a student in IOE Pulchowk Engineering Campus. He is ongoing his Bachelor in Computer Engineering.</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
        </div>
</div>
</div>

</body>
</html>