
<% include partials/header %>
    <div class="container" margin-top = 20px>

        <br>
        <h2 align = 'center'>Singly Linked List </h2>
        <p>Push <input type="text" name="Push" id="Push">
        </p>
        <p>
            Enqueue <input type="text" name="enqueue" id="enqueue">
        </p>
        <p>
            Insert <input type="text" name="insert" id="insert"> At <input type="number" name="position" id="position">
        </p>
        <input type="button" value="Pop">
        <br>
        <input type="button" value="Dequeue">
        <br>
        <p>
            Delete <input type="text" name="Delete" id='delete'>
        </p>
        
        <br>

    </div>
    <div class="container">
            <canvas id='myCanvas' resize ></canvas>
    </div>
    

    <script src="paper-full.js"></script>
    <script type = "text/paperscript" src="circle.js" canvas = 'myCanvas'></script>
</body>
</html>